<div class="container-fluid">

    <!--Start code-->
    <div class="row h-25">
        <div class="col-12">
            <!--SECTION START-->
            <section class="row">
                <!--Start slider news-->
                <div class="col-12 col-md-6 pb-md-3 pr-md-1">
                    <ngbd-carousel-pause></ngbd-carousel-pause>
                </div>
                <!--End slider news-->

                <!--Start box news-->
                <div class="col-12 col-md-6 pl-md-1 mb-3 mb-lg-4">
                    <div class="row">
                        <!--news box-->
                        <div class="col-6 pb-1 pr-1 pt-0 ">
                            <div class="card border-0 rounded-0 text-white overflow zoom item1">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">
                                        <a href="">
                                            <img class="img-fluid"
                                                src="https://images.unsplash.com/photo-1570132151768-55adb52c3887?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                                alt="simple blog template bootstrap">
                                                <h2 class="h5 text-black my-1 bottom-left-black">Footwear</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pl-1 pt-0">
                            <div class="card border-0 rounded-0 text-white overflow zoom item1">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">
                                        <a href="">
                                            <img class="img-fluid"
                                                src="https://images.unsplash.com/photo-1541871746990-e0bcdaf4a13d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                                alt="bootstrap templates for blog">
                                                <h2 class="h5 text-black my-1 bottom-left-black">Electronics</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pr-1 pt-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom item2">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">
                                        <a href="">
                                            <img class="img-fluid"
                                                src="https://images.unsplash.com/photo-1541795795328-f073b763494e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                                alt="bootstrap blog wordpress theme">
                                                <h2 class="h5 text-black my-1 bottom-left-white">Food</h2>
                                        </a>
                                    </div> 
                                </div>
                            </div>
                        </div>

                        <!--news box-->
                        <div class="col-6 pb-1 pl-1 pt-1">
                            <div class="card border-0 rounded-0 text-white overflow zoom item2">
                                <div class="position-relative">
                                    <!--thumbnail img-->
                                    <div class="ratio_right-cover-2 image-wrapper">
                                        <a href="">
                                            <img class="img-fluid"
                                                src="https://images.unsplash.com/photo-1536439588219-d5c307b1f581?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                                                alt="blog website templates bootstrap">
                                                <h2 class="h5 text-black my-1 bottom-left-white">Books</h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end news box-->
                    </div>
                </div>
                <!--End box news-->
            </section>
            <!--END SECTION-->
        </div>
    </div>
    <!--end code-->


</div>
