  <nav class="navbar navbar-expand-sm navbar-dark">
      <i class="material-icons text-light">
          shopping_cart
      </i>&nbsp;
      <a class="navbar-brand" routerLink="/"> Smart Shop</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <i class="material-icons">
      menu
    </i>
  </button>
     <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav mr-auto"></ul>
          <ul class="navbar-nav pull-right">
               <!-- <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Quick search" 
                    aria-label="Search" #searchItem>
                    <button class="btn btn-white my-2 my-sm-0 material-icons" type="submit">search</button>
                </form>-->
                <li class="nav-item active">
                    <div class="input-group">
                        <input type="text" class="form-control" value="" placeholder="Quick Search" 
                        #itemName (keyup.enter)="search(itemName.value)">
                        <div class="input-group-append quick-search-btn">
                            <span class="input-group-text" routerLink="products" 
                            [queryParams]="{itemName: itemName.value }" >
                              <i class="material-icons">
                                search
                            </i></span>
                          </div>
                      </div> 
                </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="offers">Offers<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <div class="form-inline" *ngIf="!authService.loggedIn()">
                      <a class="nav-link text-white" routerLink="login">Login </a>
                  </div>
                  <div class="form-inline" *ngIf="authService.loggedIn()">
                    <a class="nav-link text-white">{{authService.userId}}</a>
                </div>
              </li>
              <li class="nav-item active" *ngIf="!authService.loggedIn()">
                <div class="form-inline">
                    <a class="nav-link text-white" routerLink="register">Register</a>
                </div>
            </li>
            <li class="nav-item active logout" *ngIf="authService.loggedIn()">
              <div class="form-inline">
                  <a class="nav-link text-white" (click)="authService.logout()">Logout</a>
              </div>
          </li>
          </ul>
      </div>
  </nav>
<router-outlet></router-outlet>
<!--<footer>
        <div class="footer-copyright text-left py-3 pl-6">
            Copyright 2019
        </div>
</footer>-->
