<div class="container-fluid register" >
    <div class="row"style="background-color: #0062cc;">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
           <p></p>
            <input type="submit" name="" value="Login" routerLink="/login"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" 
                     role="tab" aria-controls="home" aria-selected="true" (click)="changeLogin()">Manager</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " id="profile-tab" data-toggle="tab" role="tab" 
                    aria-controls="profile" aria-selected="false" (click)="changeLogin()">User</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading" *ngIf="!isUser">Apply as a Manager </h3>
                    <h3 class="register-heading" *ngIf="isUser">Apply as a User </h3>

                    <form [formGroup]="form" (ngSubmit)="submit()">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" id="firstName"
                                formControlName="firstName" [class.invalid]="firstName.touched && firstName.invalid"/>
                                <div class="alert alert-danger" *ngIf="firstName.touched && firstName.invalid">
                                <div *ngIf="firstName.errors.required">First Name is required</div>
                                <div *ngIf="firstName.errors.minlength">
                                    First Name must be atleast {{firstName.errors.minlength.requiredLength}} 
                                    characters long</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name*"
                                formControlName="lastName"
                                [class.invalid]="lastName.touched && lastName.invalid" />
                                <div class="alert alert-danger" *ngIf="lastName.touched && lastName.invalid">
                                    <div *ngIf="lastName.errors.required">Last Name is required</div>
                                    <div *ngIf="lastName.errors.minlength">
                                        Last Name must be atleast {{lastName.errors.minlength.requiredLength}} 
                                        characters long
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="User Id *"
                                formControlName="userId" 
                                [class.invalid]="userId.touched && userId.invalid" />
                                <div class="alert alert-danger" *ngIf="userId.touched && userId.invalid">
                                    <div *ngIf="userId.errors.required">User Id is required</div>
                                    <div *ngIf="userId.errors.minlength">
                                        User Id must be atleast {{userId.errors.minlength.requiredLength}} 
                                        characters long
                                    </div>
                                    <div *ngIf="userId.errors.cannotContainSpace">
                                        User Id cannot contain a space
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group">
                                    <input type="number" name="txtEmpPhone" 
                                    class="form-control" placeholder="Your Phone *" formControlName="contactNumber"
                                        [class.invalid]="contactNumber.touched && contactNumber.invalid" />
                                <div class="alert alert-danger" *ngIf="contactNumber.touched && contactNumber.invalid">
                                    <div *ngIf="contactNumber.errors.required">Phone is required</div>
                                    <div *ngIf="contactNumber.errors.invalidPhone">
                                        Phone must be atleast {{contactNumber.errors.minlength.requiredLength}} 
                                        characters long
                                    </div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <div class="maxl" >
                                    <label class="radio inline" > 
                                        <input type="radio" name="gender" value="true" formControlName="gender">
                                        <span> Male </span> 
                                    </label> &nbsp;
                                    <label class="radio inline" > 
                                        <input type="radio" name="gender" value="false" formControlName="gender">
                                        <span>Female </span> 
                                    </label> &nbsp;
                                    <label for="age">Age:</label>&nbsp;&nbsp;
                                    <input type="number" min="1" max="99" id="age" formControlName="age">
                                    <div class="alert alert-danger"*ngIf="age.touched && age.invalid">
                                        <div *ngIf="age.errors?.required">Age is required</div>
                                        <div *ngIf="age.errors?.ageNotValid">Age is not valid</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *"
                                formControlName="password"
                                [class.invalid]="password.touched && password.invalid" />
                                <div class="alert alert-danger" *ngIf="password.touched && password.invalid">
                                    <div *ngIf="password.errors.required">Password is required</div>
                                    <div *ngIf="password.errors.minlength">
                                        Password must be atleast {{password.errors.minlength.requiredLength}} 
                                        characters long
                                    </div>
                                </div>
                            </div>
                         
                            <div class="form-group">
                                <input type="password" class="form-control"  placeholder="Confirm Password *" 
                                 formControlName="confirmPassword"
                                [class.invalid]="confirmPassword.touched && confirmPassword.invalid"/>
                                <div class="alert alert-danger" 
                                *ngIf="confirmPassword.touched && confirmPassword.invalid">
                                <div *ngIf="confirmPassword.errors.required">Re enter password</div>
                                <div *ngIf="confirmPassword.errors.minlength">
                                    Confirmed password must be atleast 
                                    {{confirmPassword.errors.minlength.requiredLength}} characters long
                                </div>
                                <div *ngIf="form.errors?.passwordsMustMatch">
                                    Passwords do not match</div>
                            </div>
                            
                            </div>
                           
                            <div class="form-group">
                                <select class="form-control" formControlName="secQuestion"
                                    [class.invalid]="secQuestion.touched && secQuestion.invalid">
                                    <option class="hidden" disabled value="" selected>
                                        Please select your Security question
                                    </option>
                                    <option  value=""  >What is your pet's name?</option>
                                    <option value="">Who is your childhood hero?</option>
                                    <option value="">Who is your favorite actor?</option>
                                    <option value="">Who is your favorite actress?</option>
                                </select>
                                <div class="alert alert-danger" *ngIf="secQuestion.touched && secQuestion.invalid">
                                    Select a security question</div>
                                </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Your Answer *" 
                                value="" formControlName="secAnswer" 
                                [class.invalid]="secAnswer.touched && secAnswer.invalid"/>
                                <div class="alert alert-danger" *ngIf="secAnswer.touched && secAnswer.invalid">
                                    Security answer is required</div>
                            </div>
                            <button type="submit"class="btn btn-submit" [disabled]="!form.valid">Sign up</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>