.bottom-left-black {
    position: absolute;
    top: 8px;
    left: 11px;
    color:white
}

  .bottom-left-white{
    position: absolute;
    top: 8px;
    left: 11px;
    color:white;
}

.container-fluid { 
      padding: 0;
}

.row {
    height:fit-content;
} 

ngbd-carousel-pause{
    height: 30%;
}