<div class="container-fluid">

<div class="page-header header-filter clear-filter black-filter" data-parallax="true">
    <div class="container">
        <div class="row ">
        <div class="col-md-8 ml-auto mr-auto">
            <div class="brand">
            <h2 *ngIf="this.authService.loggedIn()" class="display-4"><b> 
                Hi, {{authService.userId()}} </b></h2>
            <h1>Smart Shop</h1>
            <h3> A smart way to shop</h3>
            <a href="#category-section" class="btn get-started">Get Started </a>
            </div>
        </div>
        </div>
    </div>
    </div>
    <br>
    <!--Start code-->
    
    <div class="row h-10">
        
        <div class="col-12" id="category-section">
                <h2 class="shop-text display-4">Shop by categories</h2>
            <!--SECTION START-->
            <section class="row section-row ">
                <!--Start slider news-->
                <div class="col-12 col-md-3 col-sm-6 pb-md-3 pr-md-1 pt-1" >
                    <ngbd-carousel-pause category="clothing"></ngbd-carousel-pause>
                </div>
                <!--End slider news-->

                <!--Start box news-->
                <div class="col-12 col-md-3 pb-md-3 col-sm-6 pr-md-1 pt-1">
                    <ngbd-carousel-pause category="footwear"></ngbd-carousel-pause>
                </div>

                <div class="col-12 col-md-3 pb-md-3 pr-md-1 pt-1" >
                    <ngbd-carousel-pause category="food"></ngbd-carousel-pause>
                </div>
                <div class="col-12 col-md-3 pb-md-3 pr-md-1 pt-1" > 
                    <ngbd-carousel-pause category="electronics"></ngbd-carousel-pause>
                </div>
                <!--End box news-->
            </section>
            <!--END SECTION-->
        </div>
    </div>
    <!--end code-->


</div>
